{% extends 'base.html' %}
{% load static %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
  <ul class="nav nav-pills sticky-top bg-white nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'main-page' %}">
        <span style="font-weight: bold;">Главная</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'top-sellers' %}"><span style="font-weight: bold;">Топ продавцов</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'adv-post' %}">
        <span style="font-weight: bold;">Разместить объявление</span>
      </a>
    </li>
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'register' %}">
        <span style="font-weight: bold;">Регистрация</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">
        <span style="font-weight: bold;">Войти</span>
      </a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">
        <span style="font-weight: bold;">Профиль</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">
        <span style="font-weight: bold;">Выйти</span>
      </a>
    </li>
    {% endif %}
  </ul>
<div class="col" style="margin: 50px;">
  <div class="display-3">
    <span class="badge bg-primary">Сейчас вы находитесь на сайте <br> под ником {{ user }}.</span>
  </div>
</div>
<div class="card" style="width: 50rem; margin-left: 40px;">
  <div class="card-body">
    <h4 class="card-title">Информация о пользователе {{ user }}</h5>
    <h5 class="card-subtitle mb-2 text-body-secondary">Имя пользователя: {{ user.first_name }}</h6>
    <p class="card-text">Фамилия пользователя: {{ user.last_name }}</p>
    <a href="{% url 'main-page' %}" class="card-link">Посмотреть обьявления</a>
    
  </div>
</div>
{% endblock %}